
<% if (users) { %>
<!--    <p>Type something in the input field to search the table for first names, last names or emails:</p>  
<input class="myInput" type="text" placeholder="Search..">-->



    <container class="userlist-container">
    <div class="row">
        <div class="col-12">
        
        <% for(var i=0; i < users.length; i++) { %>
            <ul class="userlist" data-userid="<%= users[i]._id %>">
                <li>
                   First Name: <%= users[i].firstname %>
                </li>
                <li>
                    Last Name: <%= users[i].lastname %>
                </li>
                <li>
                    Student ID: <%= users[i].studentid %>
                </li>
                <li>
                    Email: <%= users[i].local.email %>
                </li>
                <li>
                    School: <%= users[i].school %>
                </li>
                <li>
                    Active: <%= users[i].active %>
                </li>
                <li>
                    Admin: <%= users[i].admin %>
                </li>
                <% if (user.admin == "on"){ %>
                
                    <button class="approveuser">Approve</button>
                    <button class="deleteuser">Remove</button>
                    <button class="modifyuser">Modify</button>
                    <a href="../submitform/<%= users[i]._id %>?first=<%= users[i].firstname %>&last=<%= users[i].lastname %>"><button class="addvisit">Add Visit</button></a>
                    <button class="pie-student">Pie-Student</button>
                
                    <br>
                    <form class="modify-user hide">
                        First name:
                        <br>
                        <input type="text" name="firstname" value="<%= users[i].firstname %>">
                        
                        <br> Last name:
                        <br>
                        <input type="text" name="lastname" value="<%=users[i].lastname %>">
                        
                        <br> Student ID:
                        <br>
                        <input type="number" name="studentid" value="<%= users[i].studentid %>">
                        
                        <br> Email:
                        <br>
                        <input type="text" name="email" value="<%= users[i].local.email %>">
                        
                        <br> Password:
                        <br>
                        <input type="password" name="password" value="<%= users[i].local.password %>">
                        <br> Please select your school:
                        <br>
                        <%=users[i].school %>
                        <select name="schools" class="schools">
                            <option <%=users[i].school=="School A" ? "selected":null %> value="School A">School A</option>
                            <option <%=users[i].school=="School B" ? "selected":null %> value="School B">School B</option>
                            <option <%=users[i].school=="School C" ? "selected":null %> value="School C">School C</option>
                            <option <%=users[i].school=="School D" ? "selected":null %> value="School D">School D</option>
                            <option <%=users[i].school=="School E" ? "selected":null %> value="School E">School E</option>
                        </select>
                        <br>
                        
                                <input type="checkbox" name="admin" <%=users[i].admin=="on" ? "checked":"unchecked" %>
                                <label>Admin</label>
                        <br>
                        <button class="cancel-update" aria-label="This cancels the pending user attribute changes">Cancel</button>
                        <input type="submit" value="Submit" aria-label="This submits the modified user attributes.">
                        
                        <% } %>
            
            </form>
        </ul>
            <% } %>
        </div>
        </div>
        </container>
    <% } %>