<% if (visits) { %>

   
    <container class="userlist-container">

        <% for(var i=0; i < visits.length; i++) { %>
            <ul class="userlist" data-visitid="<%= visits[i]._id %>">
                <li>
                    Date:
                    <%= visits[i].date %>
                </li>
                <li>
                    Activity:
                    <%= visits[i].activitylist %>
                </li>
                <li>
                    Last Name:
                    <%= visits[i].lastname %>
                </li>
                <li>
                    Approved:
                    <%= visits[i].approved %>
                </li>

                <a href="approvalform/<%=visits[i]._id %>">
                    <button class="validatevisit" aria-label="This opens a form to edit and validate a visit.">Validate</button>
                </a>
                <button class="deletevisit" aria-label="This deletes the visit.">Remove</button>
            </ul>
            <% } %>

    </container>
    <% } %>