<!doctype html>
<html>

<head>
    <title>Passport to Lifetime Fitness</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <div class="container">
        <div class="page-header text-center">
            <h1>
                <span class="fa fa-heart-o"></span> Passport to Lifetime Fitness</h1>
            <a href="/submitform" class="btn btn-default btn-sm">Add Visit</a>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
            <a href="/password" class="btn btn-default btn-sm">Change Password</a>
        </div>

        <div class="row">

            <h3>
                <%= user.admin %>
            </h3>


            <% if (user) { %>
                <p>
                    <strong>First Name</strong>:
                    <%= user.firstname %>
                        <br>
                        <strong>Last Name</strong>:
                        <%= user.lastname %>
                            <br>
                            <strong>Email</strong>:
                            <%= user.local.email %>
                                <br>
                </p>
                <% if (visits) { %>
                    <% data= JSON.stringify(visits) %>
                    <% include includes/piechart.ejs %>
               <% } %>
                <% } %>

                <div class="w3-bar w3-black">
                        <button class="w3-bar-item w3-button" onclick="openCity('London')">London</button>
                        <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Paris</button>
                        <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Tokyo</button>
                      </div>

                <div id="London" class="city">
                        <h2>London</h2>
                        <p>London is the capital of England.</p>
                        <% include includes/useradmin.ejs %>
                      </div>
                      
                      <div id="Paris" class="city" style="display:none">
                        <h2>Paris</h2>
                        <p>Paris is the capital of France.</p> 
                        <% include includes/visitadmin.ejs %>
                      </div>
                      
                      <div id="Tokyo" class="city" style="display:none">
                        <h2>Tokyo</h2>
                        <p>Tokyo is the capital of Japan.</p>
                      </div>



<!--
                    <% if (users) { %>
                        <ul>
                            <% for(var i=0; i < users.length; i++) { %>
                                <li data-userid="<%= users[i]._id %>">
                                    <p>
                                        <%= users[i].firstname %>
                                    </p>
                                    <p>
                                        <%= users[i].lastname %>
                                    </p>
                                    <p>
                                        <%= users[i].local.email %>
                                    </p>
                                    <p>
                                        <%= users[i].admin %>
                                    </p>
                                    <% if (user.admin == "on"){ %>
                                        <button class="approveuser">Approve</button>
                                        <button class="deleteuser">Remove</button>
                                        <button class="modifyuser">Modify</button>

                                        <br>
                                        <form class="modify-user hide">
                                            First name:
                                            <br>
                                            <input type="text" name="firstname" value="<%= users[i].firstname %>">
                                            <br> Last name:
                                            <br>
                                            <input type="text" name="lastname" value="<%= users[i].lastname %>">
                                            <br> Student ID:
                                            <br>
                                            <input type="number" name="studentid" value="<%= users[i].studentid %>">
                                            <br> Please select your school:
                                            <br>
                                            <select name="schools">
                                                <option <%=users[i].school=="School A" ? "selected":null %> value="School A">School A</option>
                                                <option <%=users[i].school=="School B" ? "selected":null %> value="School B">School B</option>
                                                <option <%=users[i].school=="School C" ? "selected":null %> value="School C">School C</option>
                                                <option <%=users[i].school=="School D" ? "selected":null %> value="School D">School D</option>
                                                <option <%=users[i].school=="School E" ? "selected":null %> value="School E">School E</option>
                                            </select>
                                            <br>
                                            <button class="cancel-update">Cancel</button>
                                            <input type="submit" value="Submit">
                                            <% } %>
                                </li>
                                </form>
                                <% } %>
                        </ul>
                        <% } %>
                            <hr>
                            <% if (visits) { %>
                                <ul>
                                    <% for(var i=0; i < visits.length; i++) { %>
                                        <li>
                                            <p>
                                                <%= visits[i].date %>
                                            </p>
                                            <p>
                                                <%= visits[i].activitylist %>
                                            </p>
                                            <a href="approvalform/<%=visits[i]._id %>">link</a>
                                        </li>
                                        <% } %>
                                </ul>
                                <% } %>
                            -->                               
                             

                                        <!-- LOCAL INFORMATION 
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>
                    
                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div>
    <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
    </div>  -->

        </div>
    <footer>
                <% include includes/footer.ejs %>            
    </footer>
    </body>

</html>