<!doctype html>
<html>

<head>
    <% include includes/head.ejs %>
</head>

<body>
    <header>
        <% include includes/header.ejs %>
    </header>


    <div class="submit-form-container">
        <div class="col-12">





            <div class="notification">



                <form action="" method="POST">
                    <br>
                    <br> Please select the activity you participated in today:
                    <br>
                    <label>
                        <input type="radio" name="activitylist" value="basketball" <%=v isit.activitylist=="basketball" ? "checked" : "" %>/>Basketball
                    </label>
                    <label>
                        <input type="radio" name="activitylist" value="yoga" <%=v isit.activitylist=="yoga" ? "checked" : "" %>/>Yoga
                    </label>
                    <label>
                        <input type="radio" name="activitylist" value="swimming" <%=v isit.activitylist=="swimming" ? "checked" : "" %>/>Swimming
                    </label>
                    <label>
                        <input type="radio" name="activitylist" value="martial arts" <%=v isit.activitylist=="martial arts" ? "checked" : "" %>/>Martial Arts
                    </label>
                    <br>
                    <br>
                    <h3>Pre-session:</h3>
                    <p>
                        <i>This section refers to how you were feeling before
                            <span class="activity">activity</span>.</i>
                    </p>
                    <br>
                    <br> Today, I felt:
                    <br>
                    <label>
                        <input type="radio" name="presession" value="great" <%=v isit.presession=="great" ? "checked" : "" %>/>Great
                    </label>
                    <label>
                        <input type="radio" name="presession" value="good" <%=v isit.presession=="good" ? "checked" : "" %>/>Good
                    </label>
                    <label>
                        <input type="radio" name="presession" value="ok" <%=v isit.presession=="ok" ? "checked" : "" %>/>OK
                    </label>
                    <label>
                        <input type="radio" name="presession" value="ill" <%=v isit.presession=="ill" ? "checked" : "" %>/>Ill
                    </label>
                    <br>
                    <br> Overall, I feel that my health is:
                    <br>
                    <label>
                        <input type="radio" name="health" value="very good" <%=v isit.health=="very good" ? "checked" : "" %>/>Very good
                    </label>
                    <label>
                        <input type="radio" name="health" value="good" <%=v isit.health=="good" ? "checked" : "" %>/>Good
                    </label>
                    <label>
                        <input type="radio" name="health" value="bad" <%=v isit.health=="bad" ? "checked" : "" %>/>Bad
                    </label>
                    <label>
                        <input type="radio" name="health" value="very bad" <%=v isit.health=="very bad" ? "checked" : "" %>/>Very bad
                    </label>
                    <br>
                    <br>
                    <h3>Post-session:</h3>
                    <p>
                        <i>This section refers to how you felt after
                            <span class="activity">activity</span>.</i>
                    </p>
                    <br> The
                    <b>BEST</b> part of
                    <span class="activity">activity</span> was:
                    <br>
                    <input type="text" value="<%= visit.bestpart %>" name="bestpart">
                    <br>
                    <br> The
                    <b>WORST</b> part of
                    <span class="activity">activity</span> was:
                    <br>
                    <input type="text" value="<%= visit.worstpart %>" name="worstpart">
                    <br>
                    <br> After participating in
                    <span class="activity">activity</span>, I would do
                    <span class="activity">activity</span> on my own.
                    <br>
                    <label>
                        <input type="radio" name="postsession" value="strongly agree" <%=v isit.postsession=="strongly agree" ? "checked" : "" %>/>Strongly Agree
                    </label>
                    <label>
                        <input type="radio" name="postsession" value="agree" <%=v isit.postsession=="agree" ? "checked" : "" %>/>Agree
                    </label>
                    <label>
                        <input type="radio" name="postsession" value="disagree" <%=v isit.postsession=="disagree" ? "checked" : "" %>/>Disagree
                    </label>
                    <label>
                        <input type="radio" name="postsession" value="strongly disagree" <%=v isit.postsession=="strongly disagree" ? "checked" :
                            "" %>/>Strongly Disagree
                    </label>
                    <br>

                    <br>
                    <input type="submit" class="approvevisit" value="Submit" aria-label="This submits the approved visit.">

                    <a href="../profile">
                        <button class="cancel-update" aria-label="This cancels the visit updates.">Cancel</button>
                    </a>


                    <br>
                    <h3>Thank you for completing the Passport to Lifetime Fitness!</h3>
                    <br>
                </form>


            </div>
            <% if (visit) { %>
                <% if (visit.approved) { %>
                    Approved!
                    <% } else {    %>
                        Unapproved
                        <% } %>
                            <% } %>

        </div>
    </div>
    </div>
    <footer>
        <% include includes/footer.ejs %>
    </footer>
</body>

</html>