<!doctype html>
<html>
<head>
        <% include includes/head.ejs %>
</head>
<body>
        <header>
                <% include includes/header.ejs %>
        </header>


    <div class="container">

        
            <% if (visit) { %>
                <div><%= `${visit.activitylist} ${visit.userid}`%>
                </div>
                <div>
                    <button class="approve">Approve</button>
                </div>
                <div class="notification">
                    

                   <% if (visit.approved) { %>
                    Approved!
                 <% } else {    %>
                    Unapproved
                    <form action="" method="POST">
        
                        <br>
                        Please select the activity you participated in today: 
                            <label>
                                <input type="radio" name="activitylist" value="basketball" <%= visit.activitylist == "basketball" ? "checked" : "" %>/>Basketball
                            </label>
                            <label>
                                <input type="radio" name="activitylist" value="yoga" <%= visit.activitylist == "yoga" ? "checked" : "" %>/>Yoga
                            </label>
                            <label>
                                <input type="radio" name="activitylist" value="swimming" <%= visit.activitylist == "swimming" ? "checked" : "" %>/>Swimming
                            </label>
                            <label>
                                <input type="radio" name="activitylist" value="martial arts" <%= visit.activitylist == "martial arts" ? "checked" : "" %>/>Martial Arts
                            </label>
                        <br>
                        <br>
                        <h2>PRE­SESSION:</h2>
                            This section refers to how you were feeling before <span class="activity">activity</span>.
                        <br>
                        <br>
                        Today, I felt: 
                            <label>
                                <input type="radio" name="presession" value="great" <%= visit.presession == "great" ? "checked" : "" %>/>Great
                            </label>
                            <label>
                                <input type="radio" name="presession" value="good" <%= visit.presession == "good" ? "checked" : "" %>/>Good
                            </label>
                            <label>
                                <input type="radio" name="presession" value="ok" <%= visit.presession == "ok" ? "checked" : "" %>/>OK
                            </label>
                            <label>
                                <input type="radio" name="presession" value="ill" <%= visit.presession == "ill" ? "checked" : "" %>/>Ill
                            </label>
                        <br>
                        Overall, I feel that my health is: 
                        <label>
                            <input type="radio" name="health" value="very good" <%= visit.health == "very good" ? "checked" : "" %>/>Very good
                        </label>
                        <label>
                            <input type="radio" name="health" value="good" <%= visit.health == "good" ? "checked" : "" %>/>Good
                        </label>
                        <label>
                            <input type="radio" name="health" value="bad" <%= visit.health == "bad" ? "checked" : "" %>/>Bad
                        </label>
                        <label>
                            <input type="radio" name="health" value="very bad" <%= visit.health == "very bad" ? "checked" : "" %>/>Very bad
                        </label>
                    <br>
                    <br>
                    <h2>POSTSESSION:</h2>
                        This section refers to how you felt after <span class="activity">activity</span>:
                    <br>
                    The BEST part of activity was:<br>
                    <input type="text" value="<%= visit.bestpart %>" name="bestpart">
                    <br>
                    The WORST part of activity was:<br>
                    <input type="text" value="<%= visit.worstpart %>" name="worstpart">
                    <br>
                    <br>
                    After participating in <span class="activity">activity</span>, I would do <span class="activity">activity</span> on my own.
                    <br>
                    <label>
                            <input type="radio" name="postsession" value="strongly agree" <%= visit.postsession == "strongly agree" ? "checked" : "" %>/>Strongly Agree
                        </label>
                        <label>
                            <input type="radio" name="postsession" value="agree" <%= visit.postsession == "agree" ? "checked" : "" %>/>Agree
                        </label>
                        <label>
                            <input type="radio" name="postsession" value="disagree" <%= visit.postsession == "disagree" ? "checked" : "" %>/>Disagree
                        </label>
                        <label>
                            <input type="radio" name="postsession" value="strongly disagree" <%= visit.postsession == "strongly disagree" ? "checked" : "" %>/>Strongly Disagree
                        </label>
                    <br>   
                    <br>
                    <input type="submit" class="buttons-basic" value="Submit">
                    <br>
                    <br>
                    <h3>Thank you for completing the Passport to Lifetime Fitness!</h3>
                    <br>
                    </form>

                <% } %>
                </div>
            <% } %>

            
    </div>
    <footer>
            <% include includes/footer.ejs %>    
    </footer>
</body>
</html>