<!doctype html>
<html>

<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles/header.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
    <div class="container">

        
            <% if (visit) { %>
                <div><%= `${visit.activitylist} ${visit.userid}`%>
                </div>
                <div>
                    <button class="approve">Approve</button>
                </div>
                <div class="notification">
                    

                   <% if (visit.approved) { %>
                    Approved!
                 <% } else {    %>
                    Unapproved
                    <form action="" method="POST">
        
                        <br>
                        Please select the activity you participated in today: 
                            <label>
                                <input type="radio" name="activitylist" value="basketball"/>Basketball
                            </label>
                            <label>
                                <input type="radio" name="activitylist" value="yoga"/>Yoga
                            </label>
                            <label>
                                <input type="radio" name="activitylist" value="swimming"/>Swimming
                            </label>
                            <label>
                                <input type="radio" name="activitylist" value="martial arts"/>Martial Arts
                            </label>
                        <br>
                        <br>
                        <h2>PRE­SESSION:</h2>
                            This section refers to how you were feeling before <span class="activity">activity</span>.
                        <br>
                        <br>
                        Today, I felt: 
                            <label>
                                <input type="radio" name="presession" value="great" <%= visit.presession == "great" ? "checked" : "" %>/>Great
                            </label>
                            <label>
                                <input type="radio" name="presession" value="good" <%= visit.presession == "good" ? "checked" : "" %>/>Good
                            </label>
                            <label>
                                <input type="radio" name="presession" value="ok" <%= visit.presession == "ok" ? "checked" : "" %>/>OK
                            </label>
                            <label>
                                <input type="radio" name="presession" value="ill" <%= visit.presession == "ill" ? "checked" : "" %>/>Ill
                            </label>
                        <br>
                        Overall, I feel that my health is: 
                        <label>
                            <input type="radio" name="health" value="very good"/>Very good
                        </label>
                        <label>
                            <input type="radio" name="health" value="good"/>Good
                        </label>
                        <label>
                            <input type="radio" name="health" value="bad"/>Bad
                        </label>
                        <label>
                            <input type="radio" name="health" value="very bad"/>Very bad
                        </label>
                    <br>
                    <br>
                    <h2>POSTSESSION:</h2>
                        This section refers to how you felt after <span class="activity">activity</span>:
                    <br>
                    The BEST part of activity was:<br>
                    <input type="text" value="<%= visit.bestpart %>" name="bestpart">
                    <br>
                    The WORST part of activity was:<br>
                    <input type="text" value="<%= visit.worstpart %>" name="worstpart">
                    <br>
                    <br>
                    After participating in <span class="activity">activity</span>, I would do <span class="activity">activity</span> on my own.
                    <br>
                    <label>
                            <input type="radio" name="postsession" value="strongly agree"/>Strongly Agree
                        </label>
                        <label>
                            <input type="radio" name="postsession" value="agree"/>Agree
                        </label>
                        <label>
                            <input type="radio" name="postsession" value="disagree"/>Disagree
                        </label>
                        <label>
                            <input type="radio" name="postsession" value="strongly disagree"/>Strongly Disagree
                        </label>
                    <br>   
                    <br>
                    <input type="submit" class="buttons-basic" value="Submit">
                    <br>
                    <br>
                    <h3>Thank you for completing the Passport to Lifetime Fitness!</h3>
                    <br>
                    </form>

                <% } %>
                </div>
            <% } %>

            
    </div>
    <footer>
            <% include includes/footer.ejs %>    
    </footer>
</body>
</html>